@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-[70%] mx-auto;
  }

  .row {
    @apply flex justify-between items-center;
  }
}

@layer components {
  .nav-btn {
    @apply px-12 py-3 rounded-3xl;
  }
  .cta-btn {
    @apply px-8 py-3 rounded-3xl text-sm;
  }

  .copy-btn {
    @apply px-6 py-2  text-white rounded-lg;
  }

  .link {
    @apply text-cyan;
  }

  .footer-links {
    @apply flex flex-col gap-4 text-gray-400;
  }
}

.footer-heading {
  @apply text-white font-bold mb-2;
}

.cards {
  @apply flex justify-between;
}

.card {
  @apply p-8 max-w-fit leading-7;
}

.card-heading {
  @apply mb-8 font-bold text-black text-xl;
}

.card-p {
  @apply max-w-[26ch] text-gray-400;
}

.cta {
  background-color: rgb(59 57 100);
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
