@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply w-[1100px] max-w-[90%] mx-auto;
  }

  .nav-link {
    @apply hover:text-slate-800 hover:font-semibold;
  }

  .row {
    @apply flex justify-between items-center;
  }

  .mobile-overlay {
    @apply hidden md:flex;
  }

  .hero-heading {
    font-size: clamp(2.75rem, 7.5vw, 3.75rem);
  }

  .footer-link {
    @apply hover:text-cyan;
  }
}

@layer components {
  .nav-btn {
    @apply px-12 py-3 rounded-3xl;
  }

  .btn-hover {
    @apply hover:bg-cyanLight;
  }
  .cta-btn {
    @apply px-8 py-3 rounded-3xl text-sm;
  }

  .copy-btn {
    @apply px-6 py-2  text-white rounded-lg;
  }

  .link {
    @apply text-cyan;
  }

  .footer-links {
    @apply flex flex-col gap-4 text-gray-400;
  }
}

.footer-heading {
  @apply text-white font-bold mb-2;
}

.cards {
  @apply flex flex-col justify-center md:flex-row text-center md:text-left justify-between;
}

.card {
  @apply p-8 max-w-fit leading-7 mx-auto;
}

.card-heading {
  @apply mb-6 font-bold text-black text-xl;
}

.card-img {
  @apply mb-8 bg-black rounded-full p-4 mx-auto md:mx-0;
}

.card-p {
  @apply max-w-[26ch] text-gray-400;
}

.cta {
  background-color: rgb(59 57 100);
  background-image: url("../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
